@{
    ViewBag.Title = "About Google DevFest Twin Cities";
}
<h2>@ViewBag.Title.</h2>



<div class="entry-content">
    <p><span style="font-size: 14px; line-height: 1.5em;">Google DevFest is a regional event for software developers organized by&nbsp;</span><a style="font-size: 14px; line-height: 1.5em;" href="https://developers.google.com/groups/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://developers.google.com']);">Google Developer Groups</a><span style="font-size: 14px; line-height: 1.5em;">. This year the Twin Cities GDG chapter is hosting a Google DevFest in Minneapolis on Feb 8th.</span></p>
    <p>Google DevFest Twin Cities is a one day conference with speakers from Google and the developer community. The day is divided into 50 minute sessions containing either a single speaker/topic or a longer workshop format. A demo/code-lab/lounge area is also provided.</p>
    <p>The two major topic areas are Android and Web/JavaScript development. However, other Google related and open technologies such as Google Glass are also included. To paraphrase Larry Page near the end of the&nbsp;<a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=9pmPa_KxsAM" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.youtube.com']);">keynote at Google I/O</a>: let’s focus on interesting things.</p>
    <p>&nbsp;</p>
    <h2>Harassment Policy [Don't be a Jerk.]</h2>
    <p>GDG Twin Cities prides itself on being an open, respectful, and inclusive community. That means jerky behavior isn’t allowed at GDG meetings. Because we know that it’s not obvious to everyone, here’s a reminder of the things we don’t allow: jokes or offensive comments about sex/sexuality/race/religion/nationality/body size, showing porn in public, touching people uninvited, or continuing to interact with someone after they’ve asked you to stop. Continuous jerky behavior may result in getting expelled from the meeting or GDG Chapter.</p>
    <p>If someone is bothering you, please tell any GDG-TC Organizers immediately and they will take care of it. We want to maintain GDG Twin Cities’s awesomeness.</p>
    <p><a href="http://www.gdgtc.com/#/conduct" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.gdgtc.com']);">read our full anti harassment policy here.</a></p>
</div>

<h2>About this site <strong>m.devfest.mn</strong>.  </h2>

<p>This site was created specifically for this event by <a href="https://plus.google.com/+LloydCledwyn">Lloyd Cledwyn</a> because nothing had the simple things we were looking for.  Among other things it does the following:
    <ul>
        <li>Is fully data driven by <a href="https://docs.google.com/spreadsheet/ccc?key=0AlP_fRZsoCpXdDg1SWtqMmc0TEVCUjJISXFaTGc4Unc#gid=0"> a google spreadsheet</a>. <em>Currently doing a full data load on each page render.... so please don't bring REDDIT knocking.</em></li>
        <li>Hosted in the Azure Cloud</li>
        <li>Running MVC.NET 5</li>
        <li>Fully tested for <a href="http://www.google.com/chrome‎">Google Chrome</a>.  Other browsers... not so much.</li>
    </ul>

    </p>
