
@{
    ViewBag.Title = "Sponsors";
}

<h1>@ViewBag.Title</h1>

<table border="0" cellspacing="0" cellpadding="5" align="center">
    <tbody>
        <tr>
            <td align="center">
                <p style="text-align: center;"><img class="aligncenter" alt="Logo_Google_2013_Official.svg" src="http://devfest.mn/wp-content/uploads/2014/01/Logo_Google_2013_Official.svg_.png" width="360" height="127"></p>
                <p style="text-align: center;">For more information about Google Developer offerings and programs visit&nbsp;<a href="http://developers.google.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://developers.google.com']);">developers.google.com</a></p>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style="text-align: center;"><a href="http://www.leadpages.net/work-for-us-were-hiring/open-positions/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.leadpages.net']);"><img alt="leadpages logo (1)" src="http://devfest.mn/wp-content/uploads/2014/01/leadpages-logo-1-1024x214.png" width="400" height="84"></a></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">LeadPages™ Is The Easiest Way To Create Mobile Responsive Landing Pages, Launch Pages, Sales Pages, and Other “Conversion Pages” (Also, We’re 100% Facebook Compatible)</p>
                <p style="text-align: center;">(<a href="http://www.leadpages.net/work-for-us-were-hiring/open-positions/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.leadpages.net']);" target="_blank">We’re Hiring In Minneapolis, MN</a>)</p>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
                &nbsp;<p></p>
                <p style="text-align: center;"><a href="http://code42.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://code42.com']);"><img alt="code42" src="http://devfest.mn/wp-content/uploads/2014/01/code42.png" width="400" height="91"></a></p>
                <p style="text-align: center;">Code42 is the creator of CrashPlan, CrashPlan PRO, CrashPlan PROe and SharePlan —award-winning onsite, offsite and cloud data protection and management solutions for home, business and enterprise.</p>
                <p style="text-align: center;"><a href="http://www.code42.com/careers/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.code42.com']);">http://www.code42.com/careers/</a></p>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p><a href="http://www.stthomas.edu/business/schulzeschool/default.html"><img class="alignnone  wp-image-234" alt="SchulzeShool OFFICIAL" src="http://devfest.mn/wp-content/uploads/2014/01/SchulzeShool-OFFICIAL-1024x232.png" width="400" height="91"></a></p><a href="http://www.stthomas.edu/business/schulzeschool/default.html">
                </a><p><a href="http://www.stthomas.edu/business/schulzeschool/default.html">http://www.stthomas.edu/business/schulzeschool/default.html</a></p>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style="text-align: center;"><a href="http://mentormate.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://mentormate.com']);"><img alt="sponsor-mentormate" src="http://devfest.mn/wp-content/uploads/2014/01/mentormate-logo-standalone-black-tagline-300x69.png" width="300" height="69"></a></p>
                <p style="text-align: center;"><a href="http://mentormate.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://mentormate.com']);">http://mentormate.com/</a></p>
                <hr>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table border="0">
                    <tbody>
                        <tr>
                            <td style="width: 50%; text-align: center;" align="center">&nbsp;<a href="http://agosto.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://agosto.com']);"><img class="alignnone  wp-image-184" alt="Agosto_Logo_Large" src="http://devfest.mn/wp-content/uploads/2014/01/Agosto_Logo_Large-300x148.png" width="150"></a><br>A Google Enterprise Premier Partner and Google Cloud Platform Premier Partner, Agosto is committed to providing clients with innovative development and lifecycle management that enable them to launch and scale products to the market.&nbsp;</td>
                            <td style="text-align: center;" align="center"><a href="http://livefront.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://livefront.com']);"><img class="alignnone  wp-image-207" alt="Livefront_CMYK" src="http://devfest.mn/wp-content/uploads/2014/01/Livefront_CMYK-300x67.png" width="225" height="67"></a><br><a href="http://livefront.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://livefront.com']);">Livefront</a> is a smart team of engineers and designers building beautiful mobile apps. Companies partner with Livefront to bring their ideas to reality – on iPhone, iPad, Android, and Windows Phone.&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>