@using Google.GData.Client
@using Google.GData.Extensions
@using Google.GData.Spreadsheets
@model Google.GData.Spreadsheets.WorksheetFeed

@{
    ViewBag.Title = "Index";
    string hour = "xx";
    string ans = "";
}

<h2>Index</h2>

<div class="row"><div>

</div>
